#one {
  border-color: #003322;
}

.box {
	border: 1px solid black;
	padding: 10px;
}

.short {
	width: 100px;
	height: 100px;
}

.blue {
	color: #ddeeff;
	background-color: #110088;
}

.green {
	color: #bbffbb;
	background-color: #117700;
}

.purple {
	color: #ffccff;
	background-color: #550044;
	font-size: 40px;
}

.red {
	color: #ffccbb;
	background-color: #660000;
}

.long {
	width: 200px;
	height: 300px;
}

.wide {
	width: 500px;
}