/* General */

#one { border-color: #003322; }
.boxed { border: 1px solid black; padding: 10px; position: relative; }

/* Colors */

.blue   { color: #ddeeff; background-color: #110088; font-size: 15px; }
.green  { color: #bbffbb; background-color: #117700; font-size: 20px; }
.red    { color: #ffccbb; background-color: #660000; font-size: 30px; }
.purple { color: #ffccff; background-color: #550044; font-size: 40px; }

/* Sizes */

.short { width: 100px; height: 100px; }
.long  { width: 200px; height: 300px; }
.wide  { width: 500px; }

/* Moving */

.top    { top: 10px;   } 
.left   { left: 10px;  }
.right  { left: 300px; }
.bottom { top: 300px;  }